
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 2000px;
    background-color: black;
}

* {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    position: fixed;
    width: 100%;
}

h1 {
    font-size: 40px;
    margin-left: 40px;
    color: #ffff;
}

span {
    font-size: 45px;
}

.section li{
    display: inline-block;
    gap: 3rem;
    margin-right: 50px;
    position: relative;

}

.section a {
    color: #ffff;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
}

.section a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: red;
}

.section a:hover::before {
    width: 100%;
    transition: .5s;
} 

.firstname {
    color: red;
}

.aboutme h1 {
    background-color: #ffff;
    font-size: 30px;
}

